/*
    Document   : settings
    Created on : Jan 28, 2014, 7:23:41 PM
    Author     : Ben
    Description:
    Purpose of the stylesheet follows.
*/

/*
    TODO customize this sample style
    Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/

root {
    display: block;
}
